.pear
{
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.pear li
{
    float: left;
    display: block;
    margin: 0 15px 15px 15px;
    padding: 0;
}

.pear li a
{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}

.pear li a > img
{
    z-index: 1;
    position: absolute;
    display: block;
    width: 100%;
    padding: 3px;
}

.pear li a #title
{
    display: none;
    z-index: 2;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    background: rgba(0, 0, 0, 0.5);
}

.pear li a #price
{
    z-index: 2;
    position: absolute;
    width: 70px;
    height: 60px;
    top: 7px;
    right: -24px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 0 5px 16px;
    background: url(../images/label.png) no-repeat;
}

.PageNavigationBar
{
	display: block;
	float: right;
	margin-right: 50px;
	margin-top: 50px;
	padding: 0;
	clear: both;
}

.PageNavigationBar a
{
	text-decoration: none;
	color: #000;
}

.PageNavigationBar a:hover
{
	text-decoration: none;
	color: #686868;
}
